<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head') %>
    <title>NodeBin: Test Your API Clients or Webhooks</title>
</head>

<body class="leading-normal">
  <%- include('partials/header') %>

    <div class="container mx-auto page-content-body" id="app">
      <% if (expired) { %>
        <div class="w-full p-4 mb-4 bg-red-light text-white rounded mt-6 mb-0">
          This bin has expired. Please create a new bin to continue testing your API clients or webhooks.
        </div>
        <% } %>
      <div class="flex">
        <div class="h-auto p-6 w-3/4">
          <h1>NodeBin</h1>
          <h2>Programmatically Test your API Clients or Webhooks</h2>
          <p>
            Use NodeBin to collect all requests to a special URL which you can use to test your API Clients or your
            WebHooks.
            Inspect your bin visually on this website, or use our API to programmatically test your libraries, clients,
            projects, SaaS or websites.
          </p>
          <h2>Four Tiny Steps</h2>
          <ol style="list-style-type: none; padding-left: 10px; line-height: 2em;">
            <li>
              <span style="margin-right:8px;">🆕</span>Create a new Bin
            </li>
            <li>
              <span style="margin-right:8px;">📤</span>Send any request (GET, POST, PUT, PATCH, DELETE, etc) to your bin
            </li>
            <li>
              <span style="margin-right:8px;">📥</span>Read your bin contents
            </li>
            <li>
              <span style="margin-right:8px;">✅</span>Compare with the result(s) you expect
            </li>
          </ol>
          <h2>What are you waiting for?</h2>
          <div class="mt-6 mb-6">
            <form class="form-inline" method="POST" action="/">
              <button class="btn" id="create-bin-button" type="submit">Create Bin</button>
            </form>
          </div>
          <p>Once you create a bin, you can send requests to it and view the results.</p>
        </div>
        <div class="h-auto p-6 w-1/4">
          <h2>API</h2>
          <p>NodeBin has an <a href="/api">API</a> that you can use programmatically - yes, this is the killer feature.
            See our <a href="/api">API Docs</a> for more details.</p>
          <h2>Notes</h2>
          <p>Each bin will expire after 30 mins. If you need bins that last longer then stay tuned for updates.</p>
        </div>
      </div>
    </div>
    <%- include('partials/footer') %>
</body>

</html>