<nav class="bg-header p-6">
  <div class="container mx-auto flex items-center justify-between flex-wrap ">
    <a class="flex items-center flex-no-shrink text-white mr-6" href="/">
      <span class="text-3xl mx-2 fa fa-globe"></span>
      <span class="font-semibold text-xl tracking-tight">PostBin</span>
    </a>
    <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
      <div class="lg:flex-grow">
        <a class="block mt-4 text-white mr-4 lg:inline-block lg:mt-0 hover:text-teal-darker no-underline"
          href="/api">API</a>
      </div>
    </div>
  </div>
</nav>